body {
    background: linear-gradient(0.25turn, blue,purple);
}
p {
    color: white;
    text-align: center;
    position: absolute;
    top: 30%;
    bottom: 70%;
    width: 100%;
    font-size: 6rem;
    text-shadow: 6px 6px black;
}
